<!DOCTYPE html>
<head>
    <title>Ja Morant Working Hard For Return</title>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v18.0" nonce="HtgiEQhG"></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div id="fb-root">
<div class = "paragraph">
    <link rel = "stylesheet" href = "styles.css">
    <h1><center>Ja Morant ‘pushing every button possible’ to be ready for December return</center></h1>
    <p><center>The Grizzlies' star can play again Dec. 19 at New Orleans and has been working closely with the team to prepare for his return.</center></p>
    <center><img src = "https://cdn.nba.com/manage/2023/11/GettyImages-1712270519-1-2048x1152.jpg" width = "650" height = "450"></center>
   <p>Off to an NBA-worst 1-8 start, the Memphis Grizzlies sure could use Ja Morant in the lineup. They’ll have to wait until mid-December though.
    That’s when the two-time All-Star guard’s 25-game suspension is set to end. Morant can’t be in the arena when the Grizzlies are playing games, but he’s around the team the rest of the time.
    “He’s fully involved in practices, film sessions, individual workouts, team dinners, the social things that they’re doing in the hotel room after games,” coach Taylor Jenkins said before Sunday’s game against the Clippers.
    Morant was punished by the league as the result of twice being filmed on social media displaying a gun. He was first suspended eight games in March after a video surfaced of him brandishing a gun at a strip club in Denver, and then was set down for 25 games to start this season after another video was recorded inside a car in May.
    “He’s got a great positive attitude throughout this,” Jenkins said. “I know it can be frustrating for him, the team not having him around. We understand the circumstances.”
    The soonest Morant is eligible to return is Dec. 19 at New Orleans.
    “He’s pushing every button possible to get himself as prepared, but also help this team as best as he can through his brilliant IQ, his care factor, his voice, his presence, the spirit he brings,” Jenkins said. “It’s been awesome to see him take on, I don’t want to say a leadership role, but just his investment in the group has been awesome.”
    However, NBA Commissioner Adam Silver has said that before the 24-year-old returns to action, he will be required to “formulate and fulfill a program with the league that directly addresses the circumstances that led him to repeat this destructive behavior.”
    The details of such a program haven’t been specified.
    Morant has been practicing with the team’s second and third units and has been “fully accepting of it,” said Jenkins, adding there’s been no discussion about whether Morant will start or come off the bench when he returns.
    After back-to-back seasons of over 50 wins, the Grizzlies are struggling because of Morant’s absence as well as injuries to Derrick Rose and Xavier Tillman Sr. Big man Steven Adams is out for the season, too.
    Meanwhile, Jenkins and Morant have been having a series of one-on-one discussions about basketball and life.
    “Learned a lot from him,” the coach said. “He’s learned a lot from me as well.”</p>
       </div>
      </div>
<br>

<style>
    #pitiyafbcp {
     color: #fff;
       background: linear-gradient(-45deg, #212122, rgba(99, 95, 97, 0.979), rgba(59, 60, 61, 0.986), rgb(12, 12, 12));
     background-size: 400% 400%;
     -webkit-animation: Gradient 15s ease infinite;
     -moz-animation: Gradient 15s ease infinite;
     animation: Gradient 15s ease infinite;
    }
    @-webkit-keyframes Gradient{0%,100%{background-position:0 50%}50%{background-position:100% 50%}}@-moz-keyframes Gradient{0%,100%{background-position:0 50%}50%{background-position:100% 50%}}@keyframes Gradient{0%,100%{background-position:0 50%}50%{background-position:100% 50%}}
</style>
<script>
            var
            textclr = 'inherit',
            titlecolor = '#444649',
            titlefontsize = '33px';
            titlebgcolor = '#f9f9f9';
            titlefontfamily = 'Verdana, Geneva, sans-serif';
    </script>
<b:if cond='data:blog.pageType == "item"'>
<div id='pitiyafbcp' style='text-align: center;'>
<div id='titlefix' style='padding:10px;'><b>Share What You Think About This Post!</b></div>
 <div id='fbcf' style='text-align:center;'>
<fb:comments data-colorscheme='light' data-numposts='10' data-width='500' expr:href='data:post.url' expr:title='data:post.title' expr:xid='data:post.id'/>
 </div>
<div id='collector'/>
</div>
<div id='collector'/>
</div>
</b:if>
</b:if>
  <div class="fb-comments" data-href="https://redesigned-enigma-xxxp7v9p9xp36q9w-5000.app.github.dev/article5" data-width="550px" data-numposts="10"></div>
  </body>
  </html>
