<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wembanyamas First 5 Games</title>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v18.0" nonce="GvFeC0Hh"></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div id="fb-root">
    <div class = "paragraph">
    <h1><center>Wemby Watch: Victor Wembanyama shows out in first 5 NBA games</center></h1>
   <center><img src = "https://cdn.nba.com/manage/2023/10/GettyImages-1749116923-1568x882.jpg" width = "650" height = "450"></center>
   <p>Stay up to date on No. 1 pick Victor Wembanyama as he embarks on his rookie campaign with the San Antonio Spurs. NBA.com’s Michael C. Wright and Michaela Gilmer will provide a weekly recap of Wembanyama’s outlook on and off the court.
    A new Wemby Watch drops every Sunday. Here’s a look at what we saw from the 19-year-old French phenom during the first five games of his NBA career.</p>
    <br>
    <h1><center><u>ON THE COURT &#127936;</u></center></h1>
    <p><center>In starting the season 3-2, Wembanyama and the Spurs played in a variety of scenarios that should pay off down the road.</center></p>
    <ul type = "circle">
       <li>Oct. 25: In the opening-night matchup against Dallas, the Spurs controlled nearly the entire game. But shoddy execution late and a surge by Luka Doncic resulted in defeat.</li>
       <br>
        <li>Oct. 27: San Antonio topped Houston in overtime. Wembanyama struggled through three quarters, shooting 3-for-12, before sending it to OT, where he shined.</li>
        <br>
        <li>Oct. 29: Two nights later against the LA Clippers, the 19-year-old experienced his first blowout loss. Wembanyama spent the next four days in Phoenix for two games against the Suns. Those two outings resulted in interesting, if not contrasting scenarios. </li>
        <br>
        <li>Oct. 31: Trailing by 13 points entering the fourth quarter, Wembanyama scored nine of his 18 points in the final frame. His tip-dunk pulled the Spurs to within a point with seven seconds remaining. Keldon Johnson sealed the deal and San Antonio overcame a 20-point deficit en route to a 115-114 win.</li>
        <br>

        <li>Nov 1: Two nights later, Wembanyama announced his arrival with a mind-bending career-high 38 points to go with 10 rebounds, a steal and two blocks. San Antonio stormed to a 27-point lead that Phoenix completely wiped out with 4:12 left to play. </li>
    </ul>
    <br>
    <center><u><h1>1 Stat to Know 📊</h1></u></center>
 <p>Wembanyama has scored 103 points in his first five career games, making the rookie just the second Spur after Hall of Famer David Robinson to drop 100 points or more in that span. He became the first player since Shaquille O’Neal in 1992 to tally 85 points or more, 35-plus rebounds and 10-plus blocks in his first five contests.</p>
 </div>
</div>

<br>

<style>
    #pitiyafbcp {
     color: #fff;
       background: linear-gradient(-45deg, #212122, rgba(99, 95, 97, 0.979), rgba(59, 60, 61, 0.986), rgb(12, 12, 12));
     background-size: 400% 400%;
     -webkit-animation: Gradient 15s ease infinite;
     -moz-animation: Gradient 15s ease infinite;
     animation: Gradient 15s ease infinite;
    }
    @-webkit-keyframes Gradient{0%,100%{background-position:0 50%}50%{background-position:100% 50%}}@-moz-keyframes Gradient{0%,100%{background-position:0 50%}50%{background-position:100% 50%}}@keyframes Gradient{0%,100%{background-position:0 50%}50%{background-position:100% 50%}}
</style>
<script>
            var //bgcolor = '#f9f9f9', // background color
            textclr = 'inherit', //text color for custom text under Facebook comments form section
            titlecolor = '#444649', // title color
            titlefontsize = '33px'; // font size for title
            //titlebgcolor = '#f9f9f9'; //ex: red, #ae85a8,
            titlefontfamily = 'Verdana, Geneva, sans-serif'; // ex: "Arial Black", Gadget, sans-serif
    </script>
<b:if cond='data:blog.pageType == "item"'>
<div id='pitiyafbcp' style='text-align: center;'>
<div id='titlefix' style='padding:10px;'><b>Share What You Think About This Post!</b></div>
 <div id='fbcf' style='text-align:center;'>
<fb:comments data-colorscheme='light' data-numposts='10' data-width='500' expr:href='data:post.url' expr:title='data:post.title' expr:xid='data:post.id'/>
 </div>
<div id='collector'/>
</div>
<div id='collector'/>
</div>
</b:if>
</b:if>
<div class="fb-comments" data-href="https://redesigned-enigma-xxxp7v9p9xp36q9w-8080.app.github.dev/templates/article1.html" data-width="550px" data-numposts="10"></div>
</body>
</html>

