<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tyrese Maxey's Career High in Points</title>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v18.0" nonce="GvFeC0Hh"></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div id="fb-root">
    <div class = "paragraph">
    <h1><center>Tyrese Maxey scores career-high 50, leads 76ers to 8th straight win</center></h1>
   <center><img src = "https://cdn.nba.com/teams/uploads/sites/1610612755/2022/10/GettyImages-1244301273.jpg" width = "650" height = "450"></center>
   <p><center>Maxey becomes the 1st Sixers guard to score 50-plus points since Allen Iverson did it Dec. 23, 2005.</center></p>
   <p>Tyrese Maxey scored a career-high 50 points, Joel Embiid had 37 points and the Philadelphia 76ers improved to 8-1 with their eighth straight victory, beating the Indiana Pacers 137-126 on Sunday night.
    Maxey was 20 for 32 from the field and had seven rebounds, five assists and three blocks in the first of two straight games in Philadelphia between the teams. His previous high was 44 against Toronto on Oct. 28, 2022. The 23-year-old joined Sixers legend and Hall of Famer Allen Iverson as the only players in franchise history to score 50 or more at age 23 or younger.
    Maxey’s final basket came on a 32-foot step-back 3-pointer with 1:05 to play after Embiid — who has tagged Maxey with the nickname “The Franchise” in past interviews — passed him the ball and set a screen to free him.
    “Joel wanted me to get 50 more than even I did,” Maxey said. “When he gave me the ball, he said, ‘You are going to shoot this basketball.’ And that’s why I appreciate my teammates, my coaches and the fans. It was a great night and we got the win, which is what matters most.”
    Embiid had 13 rebounds in 33 minutes. The 76ers are off to their best nine-game start since opening 10-0 in 2000-01 en route to the NBA Finals.
    “We are playing together and trusting each other,” Embiid said. “It may not look like we didn’t play defense tonight, but (Indiana) plays so fast it’s incredible with the pace. So they are going to score a lot, but we just competed. We lowered our guard for a bit, but we had Tyrese to help close it out.”
    Philadelphia played without Kelly Oubre Jr. after he broke a rib when he was hit by a car in a hit-and-run incident on a Center City Philadelphia street Saturday night, After the game, Oubre’s teammates sent him a video of the post-game locker room celebration after being unable to get him on FaceTime.“
    “The game today, I’m sure Tyrese was thinking about it and we were all thinking about it,” Embiid said. ”We just want him to take his time, recover and know that we have his back. He’s needed because he’s a big part of us. We missed him tonight, but he should take his time.
    Tyrese Haliburton led Indiana with 25 points and Myles Turner had 22. The Pacers had won three in a row.
    “This is one of the top two or three teams in the entire league and we know that,” Pacers coach Rick Carlisle said. “There are certain things that we can and will do better on Tuesday. We have to look at it, be honest about what they are and make those adjustments.”
    After trailing by 19 in the first half, Indiana took its first lead at 105-104 early in the fourth quarter on Aaron Nesmith’s jumper in the paint. The 76ers pulled away with an 18-6 run, capped by Maxey’s putback of Patrick Beverley’s errant shot.
    “There were stretches where they really got going and we couldn’t shut off the water there,” 76ers coach Nick Nurse said. “But we really got it going in the fourth.”
    Maxey raised to average to 28.6 points in his new role as the floor leader in the wake of the trade of James Harden to the Los Angeles Clippers.
    “I had been missing the open threes and I kept telling my uncle that I can’t keep missing them,” Maxey said. “Tonight, they fell.”
</p>
 </div>
</div>

<br>

<style>
    #pitiyafbcp {
     color: #fff;
       background: linear-gradient(-45deg, #212122, rgba(99, 95, 97, 0.979), rgba(59, 60, 61, 0.986), rgb(12, 12, 12));
     background-size: 400% 400%;
     -webkit-animation: Gradient 15s ease infinite;
     -moz-animation: Gradient 15s ease infinite;
     animation: Gradient 15s ease infinite;
    }
    @-webkit-keyframes Gradient{0%,100%{background-position:0 50%}50%{background-position:100% 50%}}@-moz-keyframes Gradient{0%,100%{background-position:0 50%}50%{background-position:100% 50%}}@keyframes Gradient{0%,100%{background-position:0 50%}50%{background-position:100% 50%}}
</style>
<script>
            var //bgcolor = '#f9f9f9', // background color
            textclr = 'inherit', //text color for custom text under Facebook comments form section
            titlecolor = '#444649', // title color
            titlefontsize = '33px'; // font size for title
            //titlebgcolor = '#f9f9f9'; //ex: red, #ae85a8,
            titlefontfamily = 'Verdana, Geneva, sans-serif'; // ex: "Arial Black", Gadget, sans-serif
    </script>
<b:if cond='data:blog.pageType == "item"'>
<div id='pitiyafbcp' style='text-align: center;'>
<div id='titlefix' style='padding:10px;'><b>Share What You Think About This Post!</b></div>
 <div id='fbcf' style='text-align:center;'>
<fb:comments data-colorscheme='light' data-numposts='10' data-width='500' expr:href='data:post.url' expr:title='data:post.title' expr:xid='data:post.id'/>
 </div>
<div id='collector'/>
</div>
<div id='collector'/>
</div>
</b:if>
</b:if>
<div class="fb-comments" data-href="https://redesigned-enigma-xxxp7v9p9xp36q9w-8080.app.github.dev/templates/article4.html" data-width="550px" data-numposts="10"></div>
</body>
</html>
